{
  "openapi": "3.0.0",
  "info": {
    "title": "Omni Photo Studio API",
    "description": "AI-powered image generation and enhancement API",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "api-support@omniphotostudio.com",
      "url": "https://docs.omniphotostudio.com"
    }
  },
  "servers": [
    {
      "url": "https://api.omniphotostudio.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/generate/text-to-image": {
      "post": {
        "summary": "Generate Image from Text",
        "description": "Generate high-quality images from text prompts using AI",
        "operationId": "generateTextToImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text description of the image to generate"
                  },
                  "model": {
                    "type": "string",
                    "enum": ["omni-t2i-v1", "omni-t2i-v2"],
                    "default": "omni-t2i-v2"
                  },
                  "width": {
                    "type": "integer",
                    "minimum": 512,
                    "maximum": 2048,
                    "default": 1024
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 512,
                    "maximum": 2048,
                    "default": 1024
                  },
                  "style": {
                    "type": "string",
                    "enum": ["realistic", "artistic", "minimalist", "cinematic"],
                    "default": "realistic"
                  },
                  "quality": {
                    "type": "string",
                    "enum": ["standard", "high", "ultra"],
                    "default": "high"
                  },
                  "num_images": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful generation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer"
                              },
                              "height": {
                                "type": "integer"
                              },
                              "format": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "credits_used": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/generate/upscale": {
      "post": {
        "summary": "Upscale Image",
        "description": "Enhance and upscale image quality using AI",
        "operationId": "upscaleImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["image_url"],
                "properties": {
                  "image_url": {
                    "type": "string",
                    "description": "URL of the image to upscale"
                  },
                  "scale_factor": {
                    "type": "integer",
                    "enum": [2, 3, 4],
                    "default": 2
                  },
                  "enhancement_level": {
                    "type": "string",
                    "enum": ["subtle", "balanced", "strong"],
                    "default": "balanced"
                  },
                  "preserve_details": {
                    "type": "boolean",
                    "default": true
                  },
                  "output_format": {
                    "type": "string",
                    "enum": ["jpg", "png", "webp"],
                    "default": "jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful upscaling",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "image": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "original_width": {
                              "type": "integer"
                            },
                            "original_height": {
                              "type": "integer"
                            },
                            "upscaled_width": {
                              "type": "integer"
                            },
                            "upscaled_height": {
                              "type": "integer"
                            },
                            "scale_factor": {
                              "type": "integer"
                            },
                            "format": {
                              "type": "string"
                            }
                          }
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "credits_used": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "summary": "Get User Profile",
        "description": "Retrieve user profile information",
        "operationId": "getUserProfile",
        "responses": {
          "200": {
            "description": "User profile information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "profile_picture": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "last_login": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/content/history": {
      "get": {
        "summary": "Get Generation History",
        "description": "Retrieve user's generation history",
        "operationId": "getGenerationHistory",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "tool",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["text-to-image", "image-to-image", "sketch-to-image", "inpainting", "upscale"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "history": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "tool": {
                                "type": "string"
                              },
                              "prompt": {
                                "type": "string"
                              },
                              "image_url": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "has_more": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}